<?xml version="1.0"?>

<!-- Application configuration -->
<appSettings>
  <!-- Hangfire dashboard authorization -->
  <add key="HangfireDashboardUserName" value="arcomagic" />
  <add key="HangfireDashboardUserPassword" value="arcomagic" />
  <!-- Game authorization -->
  <add key="UnityAuthorizationAllow" value="true" />
  <add key="AndroidAuthorizationAllow" value="true" />
</appSettings>
