<?xml version="1.0"?>

<!-- Quartz onfiguration -->
<quartz>
  <!-- Thread pool configuration-->
  <add key="quartz.threadPool.threadCount" value="1024" />
  <!-- Job store configuration -->
  <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
  <add key="quartz.jobStore.tablePrefix" value="quartz." />
  <add key="quartz.jobStore.useProperties" value="true" />
  <add key="quartz.jobStore.dataSource" value="ds" />
  <!-- Serialization configuration -->
  <add key="quartz.serializer.type" value="binary" />
  <!-- Data source configuration -->
  <add key="quartz.dataSource.ds.provider" value="Npgsql-20" />
  <add key="quartz.dataSource.ds.connectionString" 
       value="Server=127.0.0.1;Port=5432;Database=arcomagic;User Id=postgres;Password=postgres" />
</quartz>
