<?xml version="1.0"?>

<!-- NLog configuration -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target name="logDebugger" xsi:type="Debugger" />
    <target name="logFile" xsi:type="File" fileName="logs/${shortdate}.log" encoding="UTF-8"
            keepFileOpen="true" openFileCacheTimeout="30" concurrentWrites="false" />
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" writeTo="logDebugger" />
    <logger name="*" minLevel="Info" writeTo="logFile" />
  </rules>
</nlog>
